.tabbed-navigation {
    --ul-type: none;
    --ol-type: none;
    --ul-start: 0;
    --ol-start: 0;
    --xl-block: 0;
    --li-bottom: 0;
    --ol-content: none;

    // box-shadow: inset 0 -1px 0 0 var(--border-default-grey);
    margin-bottom: 1rem;

    ul {
        display: flex;
        flex-direction: row;
    }

    &__tab {
        display: block;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        color: var(--text-default-grey);
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5;
        border: 0;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out;
        &[aria-selected=true] {
            background-image: linear-gradient(0deg, var(--border-active-blue-france), var(--border-active-blue-france));
            background-color: transparent;
            color: var(--text-active-blue-france);
            background-size: 100% 2px;
            background-position: 0 100%;
            background-repeat: no-repeat;
        }
    }
}
